<div class="messages-container">
  <app-message-bubble
    *ngFor="let message of messagesService.messages$ | async"
    [message]="message"
    [isYou]="messagesService.isCurrentUser(message)"
  ></app-message-bubble>
</div>

<div class="input-area">
  <p>
    {{ typingMessage$ | async }}
    <wbr />
  </p>

  <form [formGroup]="messageForm" (ngSubmit)="onSend()">
    <input id="text" type="text" formControlName="text" (input)="onTyping()" />
    <button class="button" type="submit">Send</button>
  </form>
</div>
