<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <div class="field">
    <label for="username">
      Username
    </label>
    <input id="username" type="text" formControlName="username" />
    <div class="validation" *ngIf="hasErrors('username')">
      {{ getErrorMessage("username") }}
    </div>
  </div>

  <div class="field">
    <label for="password">
      Password
    </label>
    <input id="password" type="password" formControlName="password" />
    <div class="validation" *ngIf="hasErrors('password')">
      {{ getErrorMessage("password") }}
    </div>
  </div>

  <button class="button" type="submit" [disabled]="!loginForm.valid">
    Login
  </button>
</form>
