:host {
  align-self: center;
  height: 75%;
  width: 740px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  border: 2px solid black;
  background-color: var(--yellow);
}

form > * + * {
  margin-top: 1rem;
}

.field {
  width: fit-content;
  margin: 0 auto;
}

label {
  display: inline-block;
  width: 125px;
  text-align: end;
  padding-inline-end: 0.5rem;
}

.validation {
  font-size: 1rem;
  text-align: start;
  padding-top: 0.5rem;
}

.ng-invalid.ng-touched {
  border-color: var(--orange);
}
